<!DOCTYPE html>
<html>
<head>
	<title>Kinapay</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<h1>Lista de Pull Requests</h1>	
	<form action="/pull_requests/new", action="GET">
		<input type="submit" name="crear-pr" value="crear-pr">
	</form>
	<table class="table">
		<thead>
			<tr>
				<td>Creador</td>
				<td>Jira</td>
				<td>PR</td>
				<td>Critico?</td>
				<td>Seguridad?</td>
				<td>Dependencias</td>
				<td>Probado-stg?</td>
				<td>Acciones</td>
			</tr>
		</thead>
		<tbody>
			<% @pull_requests.each_with_index do |pr, index|%>
			<tr>
				<td><%= pr.creador %></td>
				<td><%= pr.link_github %></td>
				<td><%= pr.link_jira %></td>
				<td><%= pr.critico %></td>
				<td><%= pr.revision_seguridad %></td>
				<td><%= pr.dependencias %></td>
				<td><%= pr.revision_staging %></td>
				<td><a href="/pull_requests/<%= index %>" id="detalle_<%= index %>">Ver Detalle</a>
				|
				<a href="/review/<%= index %>" id="revisar_<%= index %>">Revisar</a></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</body>
</html>