<!DOCTYPE html>
<html>
<head>
	<title>Kinapay</title>
</head>
<body>
	<h1>Lista de Pull Requests</h1>	
	<form action="/pull_requests/new", action="GET">
		<input type="submit" name="crear-pr" value="crear-pr">
	</form>
	<table>
		<thead>
			<tr>
				<td>Creador</td>
				<td>Jira</td>
				<td>PR</td>
				<td>Critico?</td>
				<td>Seguridad?</td>
				<td>Dependencias</td>
				<td>Probado-stg?</td>
			</tr>
		</thead>
		<tbody>
			<% PullRequest.all.each do |pr|%>
			<tr>
				<td><%= pr.creador %></td>
				<td><%= pr.link_github %></td>
				<td><%= pr.link_jira %></td>
				<td><%= pr.critico %></td>
				<td><%= pr.revision_seguridad %></td>
				<td><%= pr.dependencias %></td>			
				<td><%= pr.revision_staging %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</body>
</html>